
/*Thiết lập mặc định cho trang web*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 133, 153));
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    color: #10090b;
    font-family: "Quicksand";
}


/*Thiết kế navbar cho trang web*/
header .nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;

    background-color: #80a9fb;
    width: 100%;
}

header .nav-bar .nav-list {
    display: flex;

    list-style-type: none;
}

header .nav-bar .nav-list .nav-items .nav-link {
    display: block;

    color: #d3e1fe;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

header .nav-bar .nav-list .nav-items .nav-link:hover {
    background-color: #516da5;
    color: #f2f6ff;
}

/*Nội dung chính cho trang web*/
main .main-head {
    display: none;
    margin-top: 40px;
    text-align: center;
}

main .main-ctn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 150px;
}

main .main-ctn .happy-birthday-ctn .happy-birthday {
    font-size: 7em;
    margin: 0px;
}

@keyframes down {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes down2 {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes up {
    from { transform: translateY(100px); opacity: 0; } 
    to { transform: translateY(0); opacity: 1;}
}

@keyframes rotate {
    from { transform: rotateZ(0deg) }
    to { transform: rotateZ(3deg) }
}

@keyframes opacity{
    from { opacity: 0; }
    to { opacity: 1; }
}

.ant1 {
    display: inline-block;
    position: relative;

    animation-name: down;
    animation-duration: 1s;
    animation-fill-mode: both;
    transform: translateY(-100px);
    opacity: 0;
}

.ant2 {
    display: inline-block;
    position: relative;

    animation-name: down2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateY(100px);
    opacity: 0;
}

#happy-birthday1{animation-delay: 1s}
#happy-birthday2{animation-delay: 1.1s}
#happy-birthday3{animation-delay: 1.2s}
#happy-birthday4{animation-delay: 1.3s}
#happy-birthday5{animation-delay: 1.4s}
#happy-birthday6{animation-delay: 1.5s}
#happy-birthday7{animation-delay: 1.6s}
#happy-birthday8{animation-delay: 1.7s}
#happy-birthday9{animation-delay: 1.8s}
#happy-birthday10{animation-delay: 1.9s}
#happy-birthday11{animation-delay: 2s}
#happy-birthday12{animation-delay: 2.1s}
#happy-birthday13{animation-delay: 2.2s}

/* img { 
    position: relative;
    top: -40px;

    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;

    animation: opacity 3s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    opacity: 0;
} */

/* Nút nhận thư */
.buttonjs {
    text-align: center;
}

.buttonjs #wish-button {
    background: linear-gradient(135deg, #f25989, #ffbdd2);
    border-radius: 10px;
    color: black;
    font-size: 1.3em;
    text-align: center;
    margin-top: 30px;
    padding: 5px 30px;

    animation-name: up;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: both;
    transition: 0.25s;
    opacity: 0;
}

.buttonjs #wish-button:hover {
    background: linear-gradient(135deg, #ffbdd2, #f25989);
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
    color: aliceblue;

    cursor: pointer;
}

/*--- Chưa hoàn thành ---*/
.img-ctn .name-wrapper {
    position: relative;
    top: -55px;
    right: 0px;

    background: linear-gradient(135deg, rgb(255, 33, 170), rgb(250, 209, 255));
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;
    color: black;
    font-family: "Alex Brush";
    font-size: 0.8em;
    text-align: center;

    width: 200px;

    animation: up 1.5s 2s;
    animation-fill-mode: both;
    transform: translateY(100px);
    opacity: 0;
}

.img-ctn.name {
    animation: rotate 1s;
}

/*--- ---*/

/* Nền mờ đi */
#backgroundBlind {
    display: none;

    position: fixed;
    top: 0px;

    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.251);

    animation: opacity 2s;
    animation-fill-mode: both;
    opacity: 0;
    z-index: 5;
}

/* CSS cho lá thư */
.letters {
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    animation: opacity 2s;
    animation-fill-mode: both;
    opacity: 0;

    z-index: 10;
}

.letters .envelope {
    display: flex;

    position: relative;
    width: 600px;
    height: 300px;
    background-color: pink;
    perspective: 800px;

    z-index: 10;
    transition: transform 0.8s ease;
}

.letters .envelope .flap {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(255, 155, 172), pink);
    clip-path: polygon(50% 50%, 0 0, 100% 0);
}

.letters .envelope .img-png {
    position: absolute;
    top: 30%;
    left: 38%;

    width: 125px;
    height: 125px;
    object-fit: cover;

    cursor: pointer;
}

.letters .envelope .to {
    position: absolute;
    top: 90%;
    left: 80%;
    color: aliceblue;
    font-size: 1.2em;
}

.letters .paper {
    position: absolute;

    border: 1px solid black;
    background-color: aliceblue;
    width: 600px;
    height: 300px;

    background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 26px,
    rgba(100, 149, 237, 0.2) 27px
    );
    
    transform: translateY(40px);
    opacity: 0;
    transition: all 1s ease;

    z-index: 1;
    will-change: transform, opacity;
}

.letters .paper .content-in {
    margin-bottom: 5px;
}

.letters .paper #to {
    margin-bottom: 5px;
}

.letters .paper #from {
    margin-left: 80%;
    margin-top: 5px;
}

.letters .paper #gift-btn {
    position: absolute;
    bottom: 5px;

    border-radius: 5px;
    background: linear-gradient(135deg, rgb(123, 207, 255), rgb(138, 255, 230));
    cursor: pointer;

    transition: 1.25s;
}

.letters .paper #gift-btn:hover {
    background: linear-gradient(135deg, rgb(255, 123, 226), rgb(255, 171, 226));
    box-shadow: 0px 0px 10px yellow;
}

/* Ấn vào hình ảnh để mở phong bì */
.envelope.open {
    transform: translateY(180px);
    z-index: 11;
}

/* Lá thư trượt ra */
.envelope.open ~ .paper {
    transform: translateY(-120px);
    opacity: 1;
    z-index: 11; /* lá thư lên trên phong bì */
    transition: all 1s ease;
}

/* Nú thoát khỏi letters*/
.letters #closeLetters {
    display: none;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.1em;
    text-align: center;

    animation: opacity 2s;
    animation-fill-mode: both;

    cursor: pointer;
    z-index: 10;
}

/* Chọn quà */

.gift {
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(71, 71, 71, 0.333);

    animation: opacity 0.7s;
    animation-fill-mode: both;
    opacity: 0;
}

.gift #closeGift {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.1em;
    text-align: center;

    animation: opacity 2s;
    animation-fill-mode: both;

    cursor: pointer;
    z-index: 10;
}

.gift .choose-ctn {
    display: flex;

    position: fixed;

    background: linear-gradient(135deg, rgb(236, 199, 255), rgb(255, 153, 168));
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(255, 0, 247);
    width: 80%;
    height: 72%;
}

.gift .choose-ctn .chooseGift {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.gift .choose-ctn .chooseGift .header-choose {
    width: 100%;
    padding: 5px 10px;

    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 30px;
}

.gift .choose-ctn .chooseGift .chrt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.gift .choose-ctn .chooseGift .chooseImg {
    width: 20%;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    object-fit: cover;

    cursor: pointer;
}

.gift .choose-ctn .chooseGift .chooseImg:hover {
    transition: 0.25s;
    transform: scale(0.9);
}

#gift-find {
    width: 100%;
    height: 30px;

    margin-bottom: 20px;
}

#confirmParents {
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0px;


    width: 100%;
    height: 100%;

    background-color: rgba(128, 128, 128, 0.457);

    transition: opacity 0.5s;
}

#confirm {
    display: none;

    position: fixed;

    width: 50%;
    height: 80px;

    background-color: rgb(127, 136, 255);
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    text-align: center;


    animation: opacity 0.5s;
    animation-fill-mode: both;
}

#confirmYes, #confirmNo {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;

    width: 20%;
    height: 30%;

    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8em;
}

#confirmNo {
    background-color: rgb(255, 146, 146);
}

#confirmNo:hover {
    background-color: rgb(255, 62, 62);
    transition: 0.25s;
}

#confirmYes {
    background-color: cyan;
}

#confirmYes:hover {
    background-color: rgb(84, 255, 84);
    transition: 0.25s;
}

/* Nút để xem lại phần quà đã chọn */
#btnRewatch {
    display: none;

    position: fixed;
    top: 0px;
    right: 10px;

    background-color: rgb(43, 255, 43);
    cursor: pointer;

    animation: opacity 0.5s;
    animation-fill-mode: both;
}

/* Hiện phần quà đã chọn khi ấn */
#flexGift {
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0px;

    width: 100%;
    height: 100%;

    background-color: rgba(128, 128, 128, 0.454);

    animation: opacity 1s;
    animation-fill-mode: both;
}

#closeReWatch {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.1em;
    text-align: center;

    animation: opacity 2s;
    animation-fill-mode: both;

    cursor: pointer;
    z-index: 10;
}

#GiftIn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 80%;
    height: 80%;

    background: linear-gradient(135deg, rgb(255, 187, 198), rgb(255, 96, 122));
    border-radius: 50px;
}

#GiftIn h2 {
    text-align: center;
    font-size: 2.2em;
}

#GiftIn img {
    width: 80%;
    height: 80%;

    margin-top: 10px;

    border-radius: 50px;
    object-fit: cover;
}

/* Nút viết điều ước */
#btnWrite {
    display: none;

    position: fixed;
    top: 0px;
    right: 60px;

    background-color: rgb(232, 255, 232);
    cursor: pointer;

    animation: opacity 0.5s;
    animation-fill-mode: both;
}

#send {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    top: 0px;

    width: 100%;
    height: 100%;

    background-color: rgba(117, 117, 117, 0.358);

    animation: opacity 1s;
    animation-fill-mode: both;
}

#send #sendTo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    width: 80%;
    height: 80%;

    background: linear-gradient(135deg, rgb(255, 187, 198), rgb(255, 96, 122));
    border-radius: 50px;
}

#send #sendTo h1 {
    position: relative;
    top: 0px;
}

#send #sendTo #wishText {
    width: 80%;
    height: 80%;

    border-radius: 5px;
}

#send #sendTo #saveWish {
    width: 100px;
    height: 30px;

    background: linear-gradient(135deg, rgb(255, 203, 212), rgb(255, 255, 183));
    border-radius: 10px;
    margin-bottom: 5px;
}

#send #sendTo #saveWish:hover {
    width: 100px;
    height: 30px;

    background: linear-gradient(135deg,rgb(255, 255, 183), rgb(255, 203, 212));
    border-radius: 10px;
    box-shadow: 0px 0px 15px yellow;
    margin-bottom: 5px;

    cursor: pointer;
    transition: 0.5s;
}

#send #closeWrite {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.1em;
    text-align: center;

    animation: opacity 2s;
    animation-fill-mode: both;

    cursor: pointer;
    z-index: 10;
}

/* Lá thư đã được lưu lại */
#flexSend {
    display: none;

    position: fixed;
    top: 0px;
    right: 60px;

    background-color: rgb(43, 255, 43);
    cursor: pointer;

    animation: opacity 0.5s;
    animation-fill-mode: both;
}

#reWrite {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    top: 0px;

    width: 100%;
    height: 100%;

    background-color: rgba(117, 117, 117, 0.358);

    animation: opacity 1s;
    animation-fill-mode: both;
}

#reWrite #closeReWrite {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.1em;
    text-align: center;

    animation: opacity 2s;
    animation-fill-mode: both;

    cursor: pointer;
    z-index: 10;
}

#reWrite #ResendTo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    width: 80%;
    height: 80%;

    background: linear-gradient(135deg, rgb(255, 187, 198), rgb(255, 96, 122));
    border-radius: 50px;
}

#reWrite #ResendTo h1 {
    position: relative;
    top: 0px;
}

#ResendToContent {
    width: 90%;
    height: 70%;
    margin-top: 20px;
    padding: 10px;

    background-color: aliceblue;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 26px,
        rgba(100, 149, 237, 0.2) 27px
    );

    border: 1px solid black;
    border-radius: 10px;
    overflow-y: auto;
    white-space: pre-wrap;
    font-size: 1.1em;
    line-height: 26px;
}
